/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos del encabezado */
header {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

#filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

select,
input[type="number"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Estilos del listado de productos */
#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product:hover {
  transform: translateY(-5px);
}

.product-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product p {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Estilos de los botones */
.button {
  background-color: #FF8C00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #FFA500;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 140, 0, 0.4);
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-to-cart-button {
  background-color: #4CAF50;
  color: #fff;
}

.remove-from-cart-button {
  background-color: #f44336;
  color: #fff;
}

.cart-button {
  background-color: #FF8C00;
  color: #fff;
}

.checkout-button {
  background-color: #009688;
  color: #fff;
}

/* Estilos del carrito y precio total */
#cart {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

#cart h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#cart ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

#cart li {
  font-size: 14px;
  margin-bottom: 5px;
}

#total-price {
  font-size: 16px;
  font-weight: bold;
}
